<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestor de Apartamentos - Login</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="login-body">

  <div class="login-card">
    <div class="login-header">
      <h2>¡Te damos la bienvenida de nuevo!</h2>
      <p>¡Nos alegra verte otra vez!</p>
    </div>

    <form id="loginForm">
      <div class="form-group">
        <label for="usuario">USUARIO O CORREO ELECTRÓNICO</label>
        <input type="text" id="usuario" required autocomplete="off">
      </div>

      <div class="form-group">
        <label for="password">CONTRASEÑA</label>
        <input type="password" id="password" required>
      </div>

      <button type="submit" class="btn-login">Iniciar sesión</button>
    </form>
  </div>

  <script src="../js/renderer.js"></script>
</body>
</html>